* {
    padding: 0;
    margin: 0;

}
body {

    font-family: 'poppins', sans-serif;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.navbar-links {
    display: flex;
    column-gap: 20px;
}
.navbar-link a{
    text-decoration: none;
    color: #1D232c;

}
.navbar-link a:hover{
    text-decoration: underline;
    color: #1D232c;

}

.navbar-menu-toggle{
    display: none;
}

.side-navbar{
    background-color: #1D232c;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 2s;
    z-index: 2;

}
.side-navbar-link{
    margin-bottom: 30px;

}

.side-navbar-link a{
    text-decoration: none;
    color: white;
}
.side-navbar-link a :hover{
    text-decoration: underline;
    
}
.person p {
    padding-top: 20px;
}
.side-content{
    display: none;
}
.side-footer{
    display: none;
}
@media screen and (max-width:600px){
    .side-footer{
        display: block;
    }
    .footer{
        display: none;
    }
}